@import 'reset';
@import 'common';
@import 'buttons';
@import 'header';
@import 'footer';
@import 'box';

body {
  background: #eee url(/images/background.png);
}

.wrapper {
  width: 960px;
  margin: 0 auto;
}

.flash {
  padding: 15px;
  background: #f2f1ed;
  border: 1px solid #bbb;
  margin-bottom: 10px;

  .rounded;
}

#flash-notice {
  background: #d4ffa8;
}
#flash-error {
  background: #f5a0a4;
}
#flash-warning {
  background: #ffe17f;
}

#container {
  padding: 10px;

  input.install {
    font-size: 18px;
  }

  table {
    color: #555;

    a {
      color: #555;
    }

    thead {
      th.first {
        .rounded-topleft(5px);
      }
      th {
        padding: 15px 0px 10px 0px;
        background-color: #e8e7e3;
        border-bottom: 1px solid #bbb;
        vertical-align: bottom;
      }
      th.product-info {
        padding: 5px;
      }
      th.last {
        .rounded-topright(5px);
        padding-right: 10px;
      }
    }
    tbody {
      tr:hover {
        background-color: #ffd;
      }
      td {
        padding: 5px 5px 5px 0px;
        border-bottom: 1px solid #ddd;
        vertical-align: top;
        height: 70px;
        font-size: 12px;
      }
      td img {
        border: none;
      }
      td.first {
        padding-left: 5px;
      }
      td.time {
        white-space: nowrap;
      }
      td.center {
        vertical-align: middle;
      }
      td.thumbnail {
        width: 50px;
      }
      td.product-info {
        padding: 10px 5px;
        width: 650px;

        a {
          font-size: 14px;
          font-weight: bold;
        }

        div, p {
          font-size: 12px;
          padding-top: 3px;
        }

        p {
          color: #888;
          padding-top: 3px;
        }
        
        p.tags {
          span {
            text-transform: uppercase;
            background: #ccc;
            color: #fff;
            padding: 2px 7px;
            
            .rounded(10px);
            margin: 0 4px 4px 0;
            font-size: 9px;
          }
        }
      }
      tr.last td {
        border-bottom: 1px solid #ddd;
      }
    }
    tfoot {
      td {
        .rounded-bottom(5px);
        background-color: #e8e7e3;
        padding: 20px 20px 5px 20px;
      }

      tr.pagination td {
        text-align: center;
        border-bottom: 1px solid #bbb;
        padding: 10px 5px;
        background-color: #eee;
      }
    }
  }

}

#install {
  color: #666;

  p {
    padding: 10px 0;
  }
}

#scheduler {
  ul {
    padding-top: 5px;
    li {
      list-style-type: lower-roman;
      line-height: 1.8em;
      margin-left: 20px;
    }
  }

  input.time,
  input.date {
    font-size: 14px;
    color: #555;
    margin: 0 5px;
  }
  label {
    color: #555;
    padding: 0px;
  }
  input.time,
  input.date {
    border: none;
    border-bottom: 1px dashed #888;
    background-color: #fff;
    font-weight: bold;
  }
  input.time {
    width: 50px;
  }
  input.date {
    width: 95px;
  }
  span.action input {
    margin-left: 5px;
  }
}

@import 'footer';

