<div id="details" class="clearfix">
  <div id="description" class="box">
    <div class="innerbox">
      <h2>Publish/Unpublish</h2>
      <p>
      Schedule publishing and unpublishing of your producs without any hasle.
      </p>
      <h2>Multiple selection</h2>
      <p>
      Schedule multiple product with one operation.
      </p>
      <h2>Modern interface</h2>
      <p>
      Simple and intuitive interface for your day-to-day work.
      </p>
      <p style="padding-top: 25px;">
        <%= link_to 'Try it! It\'s free &raquo;', login_path, :class => 'button green' %>
      </p>
    </div>
  </div>

  <div id="screenshot">
    <img src="/images/scheduleitapp_screenshot.jpg" />
  </div>
</div>
